.open-sans-normal{
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-family: "Open Sans", sans-serif;
}
/* shared style */
.text-primary{
    color: #FD6E0A; 
}
.secondary-background{
    background: #FFF8F3;
}
.dark-2{
    color: #474747; 
}
.btn-primary{
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px; 
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}

/* header styles */
.header{
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
}

/* nav styles */
nav{
    display: flex;
    margin: 0 200px;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    font-size: 20px;
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    margin: 0 35px 0 200px;
    justify-content: space-between;
}
.banner-content{
    height: 675px;
    display: flex;
    max-width: 580px;
    flex-direction: column;
    justify-content: center;
}
.banner-greetings{
    margin: 0 0;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    margin: 0 0;
    font-size: 85px;
    font-weight: 700;
}

.banner-profile{
    width: 580px;
    height: 100%;
}
.banner-description{
    margin: 25px 0;
}

.banner-button{
    display: flex;
}
#btn-one{
    cursor: pointer;
    font-size: 20px; 
    font-weight: 700;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    margin-right: 12px;
    background: transparent;
    border: 1px solid #FD6E0A;
    transition: all linear 0.4s;
}
#btn-one:hover{
    color: #fff;
    background: #FD6E0A;
    transition: all linear 0.4s;
}
#btn-two{
    cursor: pointer;
    font-size: 20px; 
    font-weight: 700;
    color: #FD6E0A;
    margin-left: 12px;
    padding: 18px 35px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FD6E0A;
    transition: all linear 0.4s;
}
#btn-two:hover{
    color: #fff;
    background: #FD6E0A;
    transition: all linear 0.4s;
}

/* main styles */
main{
    margin: 0 auto;
    max-width: 1140px;
}
main section{
    margin: 130px 0;
}

/* about styles */
.about{
    text-align: center;
    border-radius: 10px;
    padding: 130px 150px;
}

.about-content{
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #000;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 600;
}

/* skills styles */
.skills-container{
    gap: 24px;
    display: flex;
}
.skill-padding{
    padding: 0 110px 50px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume styles */
.section-bottom{
    margin-bottom: 130px;
}
.resume-container{
    gap: 24px;
    display: flex;
}
.resume-title{
    font-size: 30px;
    color: #474747;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.experience-title{
    font-size: 25px;
    color: #474747;
    font-weight: 700;
    margin: 0 0 10px 0;
}
.experience-sub-title{    
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.experience-description{
    color: #757575;
}
.resume hr{
    margin: 30px 0;
}
.resume-button{
    margin-top: 50px;
}

/* footer styles */
footer{
    gap: 100px;
    display: flex;
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], textarea{
    width: 80%;
    height: 40px;
    border: none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 24px;
}